body{
    background-color: #ffe4b7;
}

/*nav*/
nav{
    display: flex;
}

/*Posicionamiento del logo*/
#logo1{
    height: 90px;
    width: 300px;
}

/*Posicionamiento del nombre*/
#name{
    position: absolute;
    left: 70%;
    top: -30px;
    font-size: 30px;
}

fieldset {
    border: none;
    padding: 2rem 0;
    border-bottom: 3px solid black;
}

/*Main*/

/*Todos los productos*/
.main-products{
    display: flex; 
    height: 100px;
    width: 100px;
}

/*Productos por separado*/

/*Producto 1*/
#P-p-Papaya{
    position: absolute;
    top: 20%;
}

/*Producto 2*/
#D-Periodico{
    position: absolute;
    left: 20%;
    top: 20%;
}

/*Producto 3*/
#D-Satinadas{
    position: absolute;
    left: 40%;
    top: 20%; 
}

/*Producto 4*/
#G-Satinado{
    position: absolute;
    left: 60%;
    top: 20%;
}

/*Producto 5*/
#T-b-satinado{
    position: absolute;
    left: 80%;
    top: 20%;
}

/*Producto 6*/
#B-p-Papaya{
    position: absolute;
    top: 50%;
}

/*Producto 7*/
#B-m-doble-sencillo{
    position: absolute;
    top: 50%;
    left: 20%;
}

/*Producto 8*/
#P-g-p-satinada-y-periodico{
    position: absolute;
    top: 50%;
    left: 40%;
}

/*Producto 9*/
#P-P-Pareja{
    position: absolute;
    top: 50%;
    left: 60%;
}

/*Producto 10*/
#T-amarrado{
    position: absolute;
    top: 50%;
    left: 80%;
}

/*Footer*/
footer{
    position: relative;
    text-align: center;
}

#Facebook{
    width: 100px;
    height: 100px;
}

#whatsapp{
    position: fixed;
    bottom: 1%;
    left: 97%;
    width: 50px;
    height: 50px;
}

#Twitter{
    width: 100px;
    height: 100px;
}

/*Botton*/
#sug{
    position: absolute;
    left: 48%;
}