nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 50px;
}


.divider {
    border: none;
    border-bottom: 3px solid black;
    margin: 2rem 0;
}



<hr class="divider">



